body {
    background-color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: #CCC;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #CCC;
}

a:link {
    color: #6CF
}

a:visited {
    color: #3CC
}

a:hover {
    color: #F66;
}